[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "==2.2.10"
djangorestframework = "*"
django-rest-knox = "*"
requests = "*"
bs4 = "*"
selenium = "*"
pylint-django = "*"
whitenoise = "==3.3.1"
gunicorn = "==19.7.1"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
